/* ContactForm.css */
.contact-form-container {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-container .illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-form-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.contact-form-container .form-label {
  color: #fff;
}

.contact-form-container .form-control {
  background-color: rgba(255, 255, 255, 0.281);
  height: 50px;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
}

.form-control::placeholder {
  color: #fff;
}
.contact-form-container .btn-primary {
  margin-top: 20px;
  width: 100px;
  background-color: #2f95bd;
  border-color: #2f95bd;
}

.contact-form-container .btn-primary:hover {
  background-color: #aa367c;
  border-color: #aa367c;
}
.contactmessage {
  height: 120px !important; /* Adjust height as needed */
  box-sizing: border-box;
  border: 2px solid #ccc;
}
.status-message.success {
  margin-top: 10px;
  font-weight: 600;
  padding: 5px;
  border-radius: 50px;
  color: rgb(3, 146, 3);
  background-color: #fff;
  width: max-content;
}
.status-message.error {
  margin-top: 10px;
  font-weight: 600;
  padding: 5px;
  border-radius: 50px;
  color: rgb(226, 3, 3);
  background-color: #fff;
  width: max-content;
}
